@import url("https://fonts.googleapis.com/css?family=Source+Sans+Pro:300,900");
@import url("fontawesome-all.min.css");
 :root{
	 --color_1: #AE9BC5;
	 --color_2:	#9896C3;
	 --color_3: #834694;
	 --color_4: #414698;
	 --color_5: #236CB9;
	 --color_1D: #ae9bc5df;
	 --color_2D: #9896C3df;
	 --color_3D: #834694df;
	 --color_4D: #414698df;
	 --color_5D: #236CB9df;
 }
.page-bg {
	background-image: url("../../images/DnHBackGround.png");
	-webkit-filter: blur(5px);
	-moz-filter: blur(5px);
	-o-filter: blur(5px);
	-ms-filter: blur(5px);
	filter: blur(5px);
	position: fixed;
	width: 100%;
	height: 100%;
	top: 0;
	left: 0;
	z-index: -100;
}
.content {
	padding: 1% 25% 0 25% ;
}
.title{
	width: 100%;
	height: 110%;
	text-align: center;
}
.title h1{
	padding: 2.5% 20% 2.5% 20%;
	
}
.styleBack h1
{
	background-color: var(--color_4D);
	background-size: cover;
	padding: 1% 1% 1% 1%;
	border-radius: 5px 5px;
	color: whitesmoke;
}
.styleBack p{
	background-color: var(--color_5D);
	background-size: cover;
	padding: 1% 1% 1% 1%;
	border-radius: 5px 5px;
	color: whitesmoke;
}
.left{
	max-width: 50ch;
	left: 30%;
}
.right{
	max-width: 50ch;
	right: 0%;
}
.TopImg{
	transform: translate(675%, 0);
	height: auto;
	width: 7%;
}
